@page "/Popular_Books"
@using LibraryManagementWeb.Models
@using LibraryManagementWeb.Services

<h3>Trending Books</h3>

@code {
	private IEnumerable<Book>? books;
	private string? errorMessage;

	protected override async Task OnInitializedAsync()
	{

	}
}